<app-header></app-header>
    <div class="welcome-text" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card color="primary" class="main-card"  fxFlex="90%">
            <div >
                <h2 class="header">
                    The Road to Happy Destiny : A Design for Living that Really Works
                </h2>
                <button mat-button (click)="getMeetings()">Test</button>
                <p class="home-body">
                        <b><i>Welcome to Area 74 District 02</i></b> serving part of Northeast Wisconsin. We hope this site can assist you in finding your way around our district, and with your recovery!
                        Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism. The only requirement for membership is a desire to stop drinking. There are no dues or fees for AA membership; we are self-supporting through our own contributions. AA is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes. Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.
                        <br/>
                        Copyright © by the A.A. Grapevine, Inc.; reprinted with permission
                        <br/>
                        If you want to drink... that's your business. If you want to quit... that's AA's business.
                </p>
            </div>
        </mat-card>
    </div>

