<div>
        <div class="top">
            <div class="id">
                <p class="id-text">District02aa.org</p>
            </div>
            <div class="header">
                <img class="logo" [src]=headerImage>
            </div>
            <div class="hotline">
                <div class="hotline-text">
                    <p>Appleton Area Hotline</p>
                    <p>920-731-4331</p>
                    <p>Oshkosh Area Hotline</p>
                    <p>920-410-4620</p>
                </div>
            </div>
        </div>
    </div>
<div class="nav-bar">
    <mat-toolbar color="primary">
        <div class="button-conatiner">

        </div>
        <div class='anchor'>
            <button mat-icon-button>
                <mat-icon color="secondary">change_history</mat-icon>
            </button>
        </div>
        <div class="menu">
            <button mat-icon-button>
                <mat-icon color="secondary" [matMenuTriggerFor]="mobileMenu">view_headline</mat-icon>
            </button>
            <mat-menu #mobileMenu>
                <button mat-menu-item>Meetings</button>
                <button mat-menu-item>Information on AA</button>
                <button mat-menu-item>Is AA for You?</button>
                <button mat-menu-item>12 steps and 12 Traditions</button>
                <button mat-menu-item>Calendar of Events</button>
                <button mat-menu-item>Newsletter & Forms</button>
                <button mat-menu-item>Service Comittees</button>
                <button mat-menu-item>Contact Information</button>
                <<button mat-menu-item>Helpful Links</button>
            </mat-menu>
        </div>
    </mat-toolbar>
</div>