<div id="header-container" class="header-container" fxFlex fxLayout="column" fxLayoutAlign="start start">
    <div id="header-row" fxFlex="80%" class="header-row" fxLayout="row">
        <div class="site-id" fxFlex="20%" fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex>District02aa.org</div>
        </div>
        <div fxFlex="60%" fxLayout="row" fxLayoutAlign="space-around center">
            <img class="logo" fxFlex="13%" [src]=headerImage>
        </div>
        <div fxFlex="20%" fxLayout="column" class="hotline-text" fxLayoutAlign="end start">
            <div fxFlex="25%">Appleton Area Hotline</div>
            <div fxFlex="25%">920-731-4331</div>
            <div fxFlex="25%">Oshkosh Area Hotline</div>
            <div fxFlex="25%">920-410-4620</div>
        </div>
    </div>
    <div id="nav-bar-row" fxFlex="20%" class="nav-bar-row" fxLayout="row" fxLayoutAlign="none center">
        <mat-toolbar color="primary" class="nav-bar" fxFlex="100" fxLayout="row" fxLayoutAlign="none center">
            <button fxFlex="1%" class="button" mat-icon-button routerLink="/home">
                <mat-icon color="secondary">change_history</mat-icon>
            </button>
            <button fxFlex="5%" class="button" mat-icon-button [matMenuTriggerFor]="mobileMenu">
                <mat-icon color="secondary">reorder</mat-icon>
            </button>
            <mat-menu #mobileMenu="matMenu">
                <button mat-menu-item color="secondary" [matMenuTriggerFor]="meetingsMenu">Meetings</button>
            </mat-menu>
            <mat-menu #meetingsMenu="matMenu">
                <button mat-menu-item routerLink="/meetings">List With Maps</button>
                <a href="./assets/files/meeting_list_current.pdf" target="_blank" class="meeting-list-link">
                    <button mat-menu-item>PDF List</button>
                </a>
            </mat-menu>
        </mat-toolbar>
    </div>
</div>