div.header {
    text-align : right;
    width:48%;
    display: inline-block;
    position: relative;
    
}

div.top{
    width:100%;
    height: 15%;
    position:relative;
}

div.image-container {
    display: inline-block;
    width:30%;
    text-align: center;
    position: absolute;
    bottom:0;
    padding-left:30%;
}

div.id {
    display: inline-block;
    width:50%;
    position: absolute;
    bottom:0;
    font-weight: bolder;
    color : #673ab7;
    margin-bottom: -15px;
}


hotline {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

div.hotline-text {
    font-weight: bolder;
    color : #673ab7;
    font-size: 10px;
    text-align: center;
    
}
div.nav-bar {
    width : 100%;
    min-width: 1500px;
   
}

div.button-container{
    width:70%;
    min-width : 1500px;
    margin:auto;
}

div.anchor {
    width: 5%;
    float:left;
    margin-left: -5%;
    
}

div.meetings-button{
    width:9%;
    float:left;
}

div.info-button{
    width : 9%;
    float:left;
}

div.for-you-button {
    width: 9%;
    float:left;
}

div.twelve-button {
    width : 13%;
    float:left;
}

div.calendar-button {
    width : 9%;
    float:left;
}

div.news-button {
    width : 9%;
    float:left;
}


div.service-button {
    width: 9%;
    float:left;
}

div.contact-button {
    width:9%;
    float:left;
}

div.links-button {
    width: 9%;
    float:left;
}

.flex-container {
    padding : 0;
    margin : 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
    line-height: 150px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
    line-height: 150px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .hotline-p {
      height : 10px;
  }

