.fill-remaining-space {
  flex: 1 1 auto;
}

.site-id {
    font-size: 1.5vh;
    height: 100%;
    font-weight: bolder;
    color : #673ab7;
}
div.header-container {
    height : 17%;
    width : 100%;
    margin: auto;
}

div.hotline-text {
    font-weight: bolder;
    color : #673ab7;
    font-size: 1.5vh;
    height : 100%;
}
.meeting-list-link{
    text-decoration: none;
}

.header-row {
    width : 100%;
}

.nav-bar-row {
    width: 100%;
}

.nav-bar {
    height: 100%;
}

.button {
    min-width : 30px;
}
