<ul class="flex-container">
    <li class="flex-item">
            <div class="hotline-text">
            <p class="hotline-p">District02aa.org</p>
        </div>
    </li>
    <li class="flex-item">
        <img [src]=headerImage>
    </li>
    <li class="flex-item">
        <div class="hotline-text">
            <p class="hotline-p">Appleton Area Hotline</p>
            <p class="hotline-p">920-731-4331</p>
            <p class="hotline-p">Oshkosh Area Hotline</p>
            <p class="hotline-p">920-410-4620</p>
        </div>
    </li>
</ul>
<div class="nav-bar">
    <mat-toolbar color="primary">
        <div class="button-container">
            <div class='anchor'>
                <button mat-icon-button>
                    <mat-icon color="secondary">change_history</mat-icon>
                </button>
            </div>
            <div class="meetings-button">
                <button mat-button color="secondary" [matMenuTriggerFor]="meetingsMenu">Meetings</button>
                <mat-menu #meetingsMenu>
                    <button mat-menu-item>List With Maps</button>
                    <button mat-menu-item>Printable List</button>
                </mat-menu>
            </div>
            <div class="info-button">
                <button mat-button color="secondary">Information on AA</button>
            </div>
            <div class="for-you-button">
                <button mat-button color="secondary">Is AA for you?</button>
            </div>
            <div class="twelve-button">
                <button mat-button color="secondary">12 Steps and 12 Traditions</button>
            </div>
            <div class="calendar-button">
                <button mat-button color="secondary">Calendar of Events</button>
            </div>
            <div class="news-button">
                <button mat-button color="secondary">Newsletter & Forms</button>
            </div>
            <div class="service-button">
                <button mat-button color="secondary">Service Comittees</button>
            </div>
            <div class="contact-button">
                <button mat-button color="secondary">Contact Information</button>
            </div>
            <div class="links-button">
                <button mat-button color="secondary">Helpful Links</button>
            </div>
        </div>
    </mat-toolbar>
</div>