<div class="banner" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <div>
        <div class="hotline-text">
            <p>District02aa.org</p>
        </div>
    </div>
    <div>
        <img class="logo" [src]=headerImage>
    </div>
    <div>
        <div fxLayout="column">
            <p>Appleton Area Hotline</p>
            <p>920-731-4331</p>
            <p>Oshkosh Area Hotline</p>
            <p>920-410-4620</p>
        </div>
    </div>
</div>


<div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-toolbar color="primary"
      fxShow="false" fxShow.lt-md>
        <button mat-icon-button routerLink="/home">
            <mat-icon color="secondary">change_history</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
            <mat-icon color="secondary">reorder</mat-icon>
        </button>
        <mat-menu #mobileMenu="matMenu">
            <button mat-menu-item color="secondary" [matMenuTriggerFor]="meetingsMenu">Meetings</button>
        </mat-menu>
        <mat-menu #meetingsMenu="matMenu">
            <button mat-menu-item routerLink="/meetings">List With Maps</button>
            <button mat-menu-item>Printable List</button>
        </mat-menu>
      </mat-toolbar>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxShow="false" fxShow.gt-sm>
      <mat-toolbar color="primary">
        <mat-menu x-postion="before" #mobileMenu="matMenu">
            <button mat-button color="secondary" [matMenuTriggerFor]="meetingsMenu">Meetings</button>
            <mat-menu #meetingsMenu>
                <button mat-menu-item routerLink="/meetings">List With Maps</button>
                <button mat-menu-item>Printable List</button>
            </mat-menu>

            <button mat-button color="secondary" [matMenuTriggerFor]="infoMenu">Information on AA</button>
            <mat-menu #infoMenu>
                <button mat-menu-item>Is AA for you?</button>
                <button mat-menu-item>12 Steps and 12 Traditions</button>
            </mat-menu>

            <button mat-button color="secondary">Calendar</button>

            <button mat-button color="secondary">Newsletter &amp; Forms</button>

            <button mat-button color="secondary">Service Comittees</button>

            <button mat-button color="secondary">Contact Information</button>

            <button mat-button color="secondary">Helpful Links</button>
        </mat-menu>
      </mat-toolbar>
    </div>
</div>
