<app-header></app-header>


<div class="meetings-conatiner" fxFlex fxFlexLayout="row" fxLayoutAlign="space-around center">

    <mat-card id="meetings-card" color="primary"  class="meetings-card" fxFlex="90%" fxFlexLayout="row">
        <mat-table #table [dataSource]="dataSource" fxFlex="100%">
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                <mat-cell *matCellDef="let element" class="header-cell"> {{element.city}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="day">
                <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.day}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.time}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="meetingName">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.meetingName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="location">
                <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.location}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.address}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="map">
                <mat-header-cell *matHeaderCellDef>Map</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell">
                    <a href="https://www.google.com/maps/?q={{element.latitiude}},{{element.longitude}}" title="maps" target="_blank">
                        <mat-icon class="nav-icon">navigation</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row class="cell" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="cell" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


    </mat-card>

</div>