<app-header></app-header>


<div class="meetings-conatiner" fxFlex fxFlexLayout="row" fxLayoutAlign="space-around center">

    <mat-card id="meetings-card" color="primary" class="meetings-card" fxFlex="90%" fxFlexLayout="row">
        <mat-table #table [dataSource]="dataSource" fxFlex="100%">
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                <mat-cell *matCellDef="let element" class="header-cell"> {{element.meetingLocation.city.name}} </mat-cell>
            </ng-container>
            <mat-header-row class="cell" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="cell" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>
</div>