<app-header></app-header>


<div class="meetings-conatiner" fxFlexLayout="row" fxLayoutAlign="space-around center">

    <mat-card id="meetings-card" color="primary" class="meetings-card" fxFlex="80%" fxLayout="row">
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="day">
                <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.day}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.time}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="meetingName">
                <mat-header-cell *matHeaderCellDef>Meeting Name</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.meetingName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="location">
                <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.location}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.address}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="map">
                <mat-header-cell *matHeaderCellDef>Map</mat-header-cell>
                <mat-cell *matCellDef="let element" class="big-cell">
                    <agm-map [latitude]="44.2636251" [longitude]="-88.40167989999998">
                        <agm-marker [latitude]="44.2636251" [longitude]="-88.40167989999998"></agm-marker>
                    </agm-map>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


    </mat-card>

</div>