<div class="meetings-conatiner" fxLayout="row" fxLayoutAlign="space-around center">

    <mat-card id="meetings-card" color="primary" class="meetings-card" fxFlex="100%" fxFlexLayout="row">
        <mat-table #table [dataSource]="dataSource" matSort fxFlex="100%">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Select</mat-header-cell>
                <mat-cell *matCellDef="let element" class="header-cell">
                    <mat-checkbox [(ngModel)]="element.checked" (change)="meetingSelected(element.id)"></mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                <mat-cell *matCellDef="let element" class="header-cell"> {{element.city}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="day">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Day</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.day}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.startTime | date:'shortTime'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="location">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.location}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.address}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell"> {{element.type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="map">
                <mat-header-cell *matHeaderCellDef>Map</mat-header-cell>
                <mat-cell *matCellDef="let element" class="cell">
                    <a href="https://www.google.com/maps/?q={{element.lat}},{{element.lon}}" title="maps" target="_blank">
                        <mat-icon class="nav-icon">navigation</mat-icon>
                    </a>
                </mat-cell>
                <mat-cell *matCellDef="let element" class="header-cell"> {{element.meetingLocation.city.name}}
                </mat-cell>
            </ng-container>
            <mat-header-row class="ra-header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="cell" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[5,10,20]" [showFirstLastButtons]="true">
        </mat-paginator>
    </mat-card>
</div>