/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 99%;
    
    min-height: 100%;
    font-family: roboto;
  }
  
  body {
    height: 97%;
    min-height: 80%
  }